

{block content}
<h2 align="center">Formulář</h2>
<p align="center"><a n:href='Homepage:default'>Zpět</a></p>
<div class="container" align="center">
<table class="table" align="center">
{control registrationForm}
</table>
</div>